.app {
  text-align: center;
  height: 70%;
  width: 50%;
  border: 4px solid black;
  background-color: teal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
}
.Image {
  height: 140px; /* Change the height to autofill or something that adjusts to the div size */
}
